{% extends 'main/index.html' %}
{% load static %}


{% block css %}
<style>
  .update-note{
    margin-top: 0px; margin-bottom: 0px;
    
    
  }
</style>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}

<form method="post" action="{% url 'news_home' %}" style="width: 95%; margin: 0px auto 0px;">
  {% csrf_token %}

  {{ form.title }}
  {{ form.text }}
  <input type="hidden" name="who" value='{{ request.user.id }}' class="form-control" >
  <button class="btn btn-success" type="submit">Добавить заметку</button>
  <span>{{ error }}</span>

</form>



    {% for i in news %}
      {% if request.user.id == i.who %}
            <div class="card">
              <div class="card-header">
                Заметка
              </div>
              <div class="card-body">
                <form method="post" action="{% url 'news_home' %}" style=" margin: 0px auto 0px;">
                  {% csrf_token %}
                  <input name="news_title" type="text" value="{{ i.title }}"  class="form-control update-note" placeholder="Название заметки">
                  <textarea name="news_text"  class="form-control update-note" placeholder="Текст заметки">{{ i.text }}</textarea>
                  <input type="hidden" name="news_id" value='{{ i.id }}' class="form-control">
                  <a href="{% url 'delete' i.id %}" class="btn btn-success" >Выполнить</a>
                  <button class="btn btn-warning" type="submit" >Редактировать</button>
                
                </form>
              </div>
            </div>
      {% endif %}
    {% endfor %}

{% else %}
    <h1>Зарегистрируйтесь</h1>
{% endif %}

{% endblock %}