{% extends 'main/index.html' %}


{% block content %}
    <div class="mb-3" style="width: fit-content; margin-top: 10px;">
        <form action="{% url 'edit_hospital' %}" method="post">
            {% csrf_token %}
            <label for="hospital-title" class="form-label"><small class="text-muted">Название мед.учреждения</small></label>
            <input type="text" name="title" id="hospital-title" class="form-control" value="{{ request.user.doctor.hospital }}">
        </form>
    </div>
    <div class="mb-3" style="width: fit-content; margin-top: 10px;">
        <label for="search" class="form-label"><small class="text-muted">Поиск</small></label>
        <input type="text" id="search" class="form-control" placeholder="Фамилия">
    </div>
    <button class="btn btn-primary" style="left: 50%;
                                        width: 150px;
                                        margin-top: 32px;
                                        margin-left: -75px;
                                        position: absolute;
                                        display: block;" data-bs-toggle="modal" data-bs-target="#Modal-create">
        Добавить врача
    </button>
    <div class="mb-3" style="width: fit-content;">
        <label for="select-department" class="form-label"><small class="text-muted">Поиск по отделу</small></label>
        <select class="form-select" id="select-department">
            <option value="all" selected>------</option>
            {% for i in departments %}
                <option value="{{ i.id }}">{{ i.title }}</option>
            {% endfor %}
        </select>
    </div>
    <table class="table table-hover table-bordered caption-top" id="doctors-table">
        <caption style="padding-top: 0px;">Количество докторов: {{ doctors.count }}</caption>
        <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Отдел</th>
                <th scope="col">Должность</th>
                <th scope="col">Номер телефона</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doctors %}
                <tr class="doctor_elem" id="{{ i.user.username }}" data-bs-toggle="modal" data-bs-target="#Modal-edit">
                    <td>{{ i.user.username }}</td>
                    <td>{{ i.user.last_name }}</td>
                    <td>{{ i.user.first_name }}</td>
                    <td>{{ i.patronymic }}</td>
                    <td>{% if i.department %}{{ i.department.title }}{% else %}Нет{% endif %}</td>
                    <td>{{ i.position }}</td>
                    <td>{{ i.phone_numder }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="modal fade" id="Modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Изменить данные</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'edit_doctor' %}" method="POST">
                        {% csrf_token %}
                        
                        <div class="modal-body" id="modal-edit">
                            <div class="mb-3">
                                <label for="login" class="form-label"><small class="text-muted">Логин</small></label>
                                <input type="text" required class="form-control" name="login" id="login-edit" readonly >
                            </div>
                            <div class="mb-3">
                                <label for="password-edit" class="form-label"><small class="text-muted">Пароль</small></label>
                                <input type="password" required class="form-control" name="password" id="password-edit">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check-edit">
                                <label class="form-check-label" for="check-edit">
                                    Показать пароль
                                </label>
                                <button type="button" id="password_for_change" class="btn btn-primary btn-sm">Сгенерировать пароль</button>
                            </div>
                            <div class="mb-3">
                                <label for="first_name-edit" class="form-label"><small class="text-muted">Имя</small></label>
                                <input type="text" required class="form-control" name="first_name" id="first_name-edit">
                            </div>
                            <div class="mb-3">
                                <label for="last_name-edit" class="form-label"><small class="text-muted">Фамилия</small></label>
                                <input type="text" required class="form-control" name="last_name" id="last_name-edit">
                            </div>
                            <div class="mb-3">
                                <label for="patronymic-edit" class="form-label"><small class="text-muted">Отчество</small></label>
                                <input type="text" required class="form-control" name="patronymic" id="patronymic-edit">
                            </div>
                            <div class="mb-3">
                                <label for="department-edit" class="form-label"><small class="text-muted">Отделение</small></label>
                                <input type="text" class="form-control" list="datalistOptions" name="department" id="department-edit">
                                <datalist id="datalistOptions">
                                    {% for i in request.user.doctor.hospital.department_set.all %}
                                        <option value="{{ i.title }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="mb-3">
                                <label for="position-edit" class="form-label"><small class="text-muted">Должность</small></label>
                                <input type="text" required class="form-control" name="position" id="position-edit">
                            </div>
                            <div class="mb-3">
                                <label for="phone-edit" class="form-label"><small class="text-muted">Номер телефона</small></label>
                                <input type="tel" required class="form-control" name="phone" id="phone-edit">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="is_director" id="check-edit-is-director">
                                <label class="form-check-label" for="check-edit-is-director">
                                    Главврач
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="on_vacation" id="check-edit-on-vacation">
                                <label class="form-check-label" for="check-edit-on-vacation">
                                    В отпуске
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#Modal-delete">
                                Удалить
                            </button>
                            <button type="submit" class="btn btn-primary">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Удаление пользователя из системы</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Modal-create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Зарегистрировать</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'create_doctor' %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body" id="modal-create">
                            <div class="mb-3">
                                <label for="password-edit" class="form-label"><small class="text-muted">Пароль</small></label>
                                <input type="password" required class="form-control" name="password" id="password-create">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check-create">
                                <label class="form-check-label" for="check-create">
                                    Показать пароль
                                </label>
                                <button type="button" id="password_for_create" class="btn btn-primary btn-sm">Сгенерировать пароль</button>
                            </div>
                            <div class="mb-3">
                                <label for="first_name-edit" class="form-label"><small class="text-muted">Имя</small></label>
                                <input type="text" required class="form-control" name="first_name" id="first_name-create">
                            </div>
                            <div class="mb-3">
                                <label for="last_name-edit" class="form-label"><small class="text-muted">Фамилия</small></label>
                                <input type="text" required class="form-control" name="last_name" id="last_name-create">
                            </div>
                            <div class="mb-3">
                                <label for="patronymic-edit" class="form-label"><small class="text-muted">Отчество</small></label>
                                <input type="text" required class="form-control" name="patronymic" id="patronymic-create">
                            </div>
                            <div class="mb-3">
                                <label for="department-edit" class="form-label"><small class="text-muted">Отдел</small></label>
                                <input type="text" class="form-control" list="datalistOptions" name="department" id="department-create">
                                <datalist id="datalistOptions">
                                    {% for i in request.user.doctor.hospital.department_set.all %}
                                        <option value="{{ i.title }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="mb-3">
                                <label for="position-edit" class="form-label"><small class="text-muted">Должность</small></label>
                                <input type="text" required class="form-control" name="position" id="position-create">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label"><small class="text-muted">Номер телефона</small></label>
                                <input type="tel" required class="form-control" name="phone" id="phone-create">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="is_director" id="check-create-is-director">
                                <label class="form-check-label" for="check-create-is-director">
                                    Главврач
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="on_vacation" id="check-create-on-vacation">
                                <label class="form-check-label" for="check-create-on-vacation">
                                    В отпуске
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <script>
        let doctor_elems = document.getElementsByClassName('doctor_elem')
        
        // Маски для ввода телефона
        $("#phone-edit").mask("+7 (999) 99-99-999")
        $("#phone-create").mask("+7 (999) 99-99-999")

        // Генерация паролей
        let password_for_create = document.getElementById('password_for_create')
        let password_for_change = document.getElementById('password_for_change')

        password_for_create.onclick = () => {
            $.ajax({
                url: "{% url 'create_password' %}",
                method: 'GET',
                success: function(data) {
                    document.getElementById('password-create').value = data.password
                }
            })
        }
        password_for_change.onclick = () => {
            $.ajax({
                url: "{% url 'create_password' %}",
                method: 'GET',
                success: function(data) {
                    document.getElementById('password-edit').value = data.password
                }
            })
        }

        // Просмотр пароля
        let check = document.getElementById('check-edit')
        let password = document.getElementById('password-edit')
        check.onclick = function () {
            if (this.checked){
                password.type = 'text'
            }else {
                password.type = 'password'
            }
        }
        let check_create = document.getElementById('check-create')
        let password_create = document.getElementById('password-create')
        check_create.onclick = function () {
            if (this.checked){
                password_create.type = 'text'
            }else {
                password_create.type = 'password'
            }
        }

        // Просмотр врачей определённых отделов
        let select_department = document.getElementById('select-department')
        let doctors_table = document.getElementById('doctors-table')

        select_department.addEventListener("change", () => {
            let item = select_department.options[select_department.options.selectedIndex]
            $.ajax({
                url: "{% url 'doctors_in_departments' %}",
                method: 'POST',
                data: {id: item.value},
                headers:{"X-CSRFToken": "{{ csrf_token }}"},
                success: function(data) {
                    
                    if (data.data) {
                        
                        doctors_table.children[0].textContent = `Количество докторов: ${data.data.length}`
                        html = ''
                        for (let index = 0; index < data.data.length; index++) {
                            const element = data.data[index];

                            html += `<tr class="doctor_elem" id="${ element.user.id }" data-bs-toggle="modal" data-bs-target="#Modal-edit">
                                        <td>${ element.user.id }</td>
                                        <td>${ element.user.last_name }</td>
                                        <td>${ element.user.first_name }</td>
                                        <td>${ element.patronymic }</td>`
                            
                            if (element.department) {
                                html += `<td>${ element.department }</td>`
                            }else{
                                html += `<td>Нет</td>`
                            }
                            html += `<td>${ element.position }</td>
                                        <td>${ element.phone_numder }</td>
                                    </tr>`

                        }
                        doctors_table.children[2].innerHTML = html
                        addinfo()
                    }
                }
            })
        })

    // Поиск врачей
    let search_input = document.getElementById('search')
    $('#search').keydown(function(e) {
        if(e.keyCode === 13) {
            $.ajax({
                    url: "{% url 'search_doctors' %}",
                    method: 'POST',
                    data: {name: this.value},
                    headers:{"X-CSRFToken": "{{ csrf_token }}"},
                    success: function(data) {
                        console.log(data)
                        let html = ''
                        search_input.value = ''
                        if (data.data){
                            doctors_table.children[0].textContent = `Количество докторов: ${data.data.length}`
                            html = ''
                            for (let index = 0; index < data.data.length; index++) {
                                const element = data.data[index];

                                html += `<tr class="doctor_elem" id="${ element.user.id }" data-bs-toggle="modal" data-bs-target="#Modal-edit">
                                            <td>${ element.user.id }</td>
                                            <td>${ element.user.last_name }</td>
                                            <td>${ element.user.first_name }</td>
                                            <td>${ element.patronymic }</td>`
                                
                                if (element.department) {
                                    html += `<td>${ element.department }</td>`
                                }else{
                                    html += `<td>Нет</td>`
                                }
                                html += `<td>${ element.position }</td>
                                            <td>${ element.phone_numder }</td>
                                        </tr>`

                            }
                            doctors_table.children[2].innerHTML = html
                            addinfo()
                        }
                    }
            })
        }
    })


    // Информация об определённом враче
    function addinfo(){
        for (let index = 0; index < doctor_elems.length; index++) {
            doctor_elems[index].onclick = function () {
                $.ajax({
                url: "{% url 'doctor_info' %}",
                method: 'POST',
                data: {id: this.id},
                headers:{"X-CSRFToken": "{{ csrf_token }}"},
                success: function(data) {
                    if ('data' in data){
                        document.getElementById('login-edit').value = data.data.user.id
                        document.getElementById('password-edit').value = data.data.password
                        document.getElementById('first_name-edit').value = data.data.user.first_name
                        document.getElementById('last_name-edit').value = data.data.user.last_name
                        document.getElementById('patronymic-edit').value = data.data.patronymic
                        document.getElementById('department-edit').value = data.data.department
                        document.getElementById('position-edit').value = data.data.position
                        document.getElementById('phone-edit').value = data.data.phone_numder
                        document.getElementById('check-edit-on-vacation').checked = data.data.on_vacation
                        document.getElementById('check-edit-is-director').checked = data.data.is_director

                        document.getElementById('Modal-delete').children[0].
                        children[0].
                        children[1].
                        innerHTML  = `<small class="text-muted">Вы точно хотите удалить пользователя : </small>
                                        <p>${data.data.user.first_name} ${data.data.user.last_name} ${data.data.patronymic}</p>`
                        
                        document.getElementById('Modal-delete').children[0].
                        children[0].
                        children[2].
                        children[0].href = `/delete_doctor/${data.data.user.id}/`
                        
                    }
                }
            })
        }
    }}
    addinfo()
    </script>
{% endblock %}