{% extends 'main/index.html' %}
{% load static %}


{% block content %}
    
        <div style=" margin: 0px auto 10px; width: max-content;">
            <a class="btn btn-outline-success" href="{% url 'search_friends' %}" style="display: block; width: 300px;">
            Найти друзей
            </a>
        </div>
        

    {% for i in friends.all %}

        <div class="card" style="margin-bottom: 10px;">
            <div class="card-header">
                {{ i.owner.first_name }} {{ i.owner.last_name }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ i.bio }}</p>
                {% if i.image %}
                    <img src="{{ MEDIA_URL }}{{ i.image.url }}" height="100px" width="100px" style="border-radius: 50px; object-fit: cover">
                {% else %}
                    <img src="/media/images/none_photo.jpg" height="100px" width="100px" style="border-radius: 50px; object-fit: cover">
                {% endif %}
                <a href="{% url 'messanges' i.owner.id %}" class="btn btn-primary">Написать</a>
                <a href="{% url 'delete_friend' i.id %}" class="btn btn-outline-danger">Удалить из друзей</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}