{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        #main{
            width: 800px;
            margin: 20px auto 0px;
        }
        a {
            text-decoration: none;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>
<body>
    <div id="main" style="position: relative;">
        {% if request.user.is_authenticated %}
            <div class="btn-group btn-sm" style="position: absolute; right: 0; padding: 0px;">
                <button style="padding: 0px;" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://img.icons8.com/material-two-tone/24/000000/squared-menu.png"/>
                </button>

                <ul class="dropdown-menu dropdown-menu-lg-end" style="padding: 0px;">
                    
                    <li><a class="dropdown-item" href="{% url 'dashboard' request.user.profile.slug %}">{{ request.user.profile.slug }}</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile_settings' %}">Настройки профиля</a></li>
                    <li><a class="dropdown-item" href="{% url 'search_repositorys' %}">Поиск репозиториев</a></li>
                    <li><hr class="dropdown-divider" style="margin: 0px;"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <div class="btn-group btn-sm" style="position: absolute; right: 0; padding: 0px;">
                <button style="padding: 0px;" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://img.icons8.com/material-two-tone/24/000000/squared-menu.png"/>
                </button>

                <ul class="dropdown-menu dropdown-menu-lg-end" style="padding: 0px;">
                    
                    <li><a class="dropdown-item" href="{% url 'search_repositorys' %}">Поиск репозиториев</a></li>
                    <li><hr class="dropdown-divider" style="margin: 0px;"></li>
                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                </ul>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>