
{% extends 'main/index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}

{% block content %}

        <h1 style="text-align: center;">{{ note.headline }}</h1>
        <hr style="height: 30px;">
        <h3 style="text-align: center;">{{ note.body_text }}</h3>
        <hr>
        <a href="{% url 'like' note.id %}" class="btn btn-success">Like: {{ note.likeq_set.count }}</a>
        <a href="{% url 'dizlike' note.id %}" class="btn btn-danger">Dizlike: {{ note.dizlikeq_set.count }}</a>



    
{% endblock %}