{% extends 'main/index.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}

{% block content %}
    <span class='user'>
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}, {{ request.user.email }}, {{ request.user.id }}
            {% if data_id != '' %}
                <a href="{% url 'blog_post' data_id %}">Мой блог</a>
                
            {% endif %}
            <p></p>
            <a href='{% url 'logout' %}' class="btn btn-danger">Log-out</a>
        {% else %}
            <h4>Вы не зарегистрированы</h4>
        {% endif %}
    </span>


    <hr>
    
    {% if new_user == True %}
    <div class="card">

  <div class="card-body">
    <h5 class="card-title">Кем вы будете</h5>

<form method="POST" action="{% url 'dashboard' %}">
    {% csrf_token %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="1" id="flexRadioDefault1" required value="1">
        <label class="form-check-label" for="flexRadioDefault1">
          Блогер (Будете писать статьи)
        </label>
        <br>
        <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2"  required value="2">
        <label class="form-check-label" for="flexRadioDefault2">
          Читатель (Будете оценивать статьи)
        </label>
        
      </div>
      <p></p>
      <input type="submit" value="Отправить" class="btn btn-success">
        
        

</form>
{% endif %}
  </div>
</div>
{% endblock %}