<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>


    <style>
        a {
            text-decoration: none;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    </style>
    {% block css %}{% endblock css %}

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MedStar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            {% if page == 'main' %}
                                <a class="nav-link active" href="{% url 'main' %}">Главная</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'main' %}">Главная</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if page == 'patients' %}
                            <a class="nav-link active" href="{% url 'patients_view' %}">Пациенты</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'patients_view' %}">Пациенты</a>
                            {% endif %}
                        </li>
                        {% if request.user.doctor.is_director %}
                            <li class="nav-item">
                            {% if page == 'references' %}
                                <a class="nav-link active" href="{% url 'all_references' %}">Направления</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'all_references' %}">Направления</a>
                            {% endif %}
                            </li>
                        {% endif %}
                        
                        <li class="nav-item">
                            {% if page == 'management' %}
                                <a class="nav-link active" href="{% url 'management' %}">Персонал</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'management' %}">Персонал</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>

                {% if request.user.is_anonymous %}
                    <div class="navbar-text">
                        <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Войти
                        </a> / 
                        <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                            Зарегистрироваться
                        </a>
                    </div>

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Авторизация</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="login" class="form-label"><small class="text-muted">Логин</small></label>
                                            <input type="number" class="form-control" name="login" required id="login">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label"><small class="text-muted">Пароль</small></label>
                                            <input type="password" class="form-control" name="password" required id="password">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Авторизироваться</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Регистрация</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'registration' %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="password-for-registration" class="form-label"><small class="text-muted">Пароль</small></label>
                                            <input type="password" required class="form-control" name="password" required id="password-for-registration">
                                        </div>
                                        <div class="mb-3">
                                            <label for="first_name" class="form-label"><small class="text-muted">Имя</small></label>
                                            <input type="text" required class="form-control" name="first_name" required id="first_name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="last_name" class="form-label"><small class="text-muted">Фамилия</small></label>
                                            <input type="text" required class="form-control" name="last_name" required id="last_name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="patronymic" class="form-label"><small class="text-muted">Отчество</small></label>
                                            <input type="text" required class="form-control" name="patronymic" required id="patronymic">
                                        </div>
                                        <div class="mb-3">
                                            <label for="title" class="form-label"><small class="text-muted">Название мед.учереждения</small></label>
                                            <input type="text" required class="form-control" name="title" required id="title">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label"><small class="text-muted">Номер телефона</small></label>
                                            <input type="tel" required class="form-control" id="phone" required name="phone">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'profile' %}" style="color: white;">{{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.doctor.patronymic }}</a>
                    
                {% endif %}
            </div>
        </div>
    </nav>
    <div style="padding: 5px;">
        {% block content %}
        {% endblock content %}
    </div>
    
    <script>
        {% if request.user.is_anonymous %}
            $(document).ready(function() {
                $("#phone").mask("+7 (999) 99-99-999");
            }); 
        {% endif %}
    </script>
</body>
</html>